<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col body-diagram-block mdl-shadow--2dp plain-background">
  
    <div class="card-header-color mdl-color-text--grey-600 mdl-shadow--2dp mdl-card__title">
      <i class="material-icons" style="margin-right:5px">inbox</i>      
      <h4> Subjective Pain Scale</h4>
    </div>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width:100%">
      <thead>
	<tr>
	  <th class="mdl-data-table__cell--non-numeric">Category</th>
	  <th>Rating</th>
	  <th>Description</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td></td>
	  <td>0</td>
	  <td>No pain.  Feeling perfectly normal.</td>
	</tr>
	<tr>
	  <td rowspan="3" class="mdl-data-table__cell--non-numeric" style="background:#d8f3ea"><center><strong>Minor</strong><br/>Able to adapt to pain</center></td>
	  <td>1<br/>Very Mild</td>
	  <td>Very light barely noticeable pain.</td>
	</tr>
	<tr>
	  <td>2<br/>Discomforting</td>
	  <td>Minor pain, like lightly pinching the fold of skin.</td>
	</tr>
	<tr>
	  <td>3<br/>Tolerable</td>
	  <td>Very noticeable pain, like a doctor giving you an injection.</td>
	</tr>

	<tr>
	  <td rowspan="3" class="mdl-data-table__cell--non-numeric" style="background: lemonchiffon"><center><strong>Moderate</strong><br/>Interferes with many activities</center></td>
	  <td>4<br/>Distressing</td>
	  <td>Strong, deep pain, like an average toothache.</td>
	</tr>
	<tr>
	  <td>5<br/>Very Distressing</td>
	  <td>Strong, deep, piercing pain, such as a sprained ankle.</td>
	</tr>
	<tr>
	  <td>6<br/>Intense</td>
	  <td>Strong, deep, piercing pain like several bee stings.</td>
	</tr>
	
	<tr>
	  <td rowspan="4" class="mdl-data-table__cell--non-numeric" style="background: #fdd3ce"><center><strong>Severe</strong><br/>Patient is disabled and unable to function independently.</center></td>
	  <td>7<br/>Very Intense</td>
	  <td>Comparable to an average migraine headache.</td>
	</tr>
	<tr>
	  <td>8<br/>Utterly Horrible</td>
	  <td>Comparable to childbirth or a real bad migraine headache.</td>
	</tr>
	<tr>
	  <td>9</br>Excruciating Unbearable</td>
	  <td>Pain so intense you cannot tolerate it and demand pain killers.</td>
	</tr>
	<tr>
	  <td>10<br/>Unimaginable Unspeakable</td>
	  <td>Pain so intense you will go unconscious shortly.</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
