<h3>URGENT CARE/WALK-IN CENTERS</h3>

<p>URGENT CARE IS FOR NON LIFE THREATENING URGENT HEALTH NEEDS SUCH AS X RAYS, IV HYDRATION, OR STITCHES</p>

<Strong style="color: blue">Newton Wellesley Hospital's Waltham Urgent Care Center</Strong></br>
<p>
Located in the Children's Hospital Building
(5 minutes from campus)
9 Hope Ave.
Waltham, Mass. 02453
(617) 243-5981
Mapquest

Bring your insurance information.

Walk-In Hours
Monday through Saturday
9 a.m. to 7 p.m.

Sunday
9 a.m. to 2 p.m.
</p>
<Strong style="color: blue">AFC</Strong></br>
<p>
1030 Main Street
Waltham, MA 02451
(781) 894-6900

Bring your insurance information.

Walk-In Hours
Daily
8 a.m. to  8 p.m.
</p>
<h3>OTHER LESS URGENT  OFF-CAMPUS MINOR ILLNESS AND INJURY ASSESSMENT:</h3>

<Strong style="color: blue">CVS Minute Clinics</Strong></br>
For minor illness and injury assessment, labs and tests.
1-866-389-2727

Locations

Newton, 978 Boylston St

Cambridge, 211 Alewife Brook Pkwy

Cambridge, 36 White Street

Medford, 85 High Street

Hours

Monday through Friday
8a.m. to 7 p.m., closed 1-2 p.m. for lunch

Saturday
9 a.m. -5:30 p.m., closed 1-1:30 p.m. for lunch

Sunday 10 a.m. -5:30 p.m., closed 1-1:30 p.m. for lunch