<h3> Health Center OR Hospital?</h3>
<h4>Reasons to go to the Emergency Room-LIFE THREATENING INJURY OR ILLNESS</h4>

Sexual violence
Severe shortness of breath
Loss of consciousness/change in consciousness/seizure
Sudden, severe pain (abdominal, chest, head) which is not relieved with over the counter medication.
A major injury
Bleeding that does not stop after 10 minutes of direct pressure, or a deep cut which may need stitches in order to stop the bleeding.
Poisoning or overdose
Severe or worsening allergic reaction, especially if breathing is difficult
Severe or persistent vomiting
Suicidal or homicidal feelings
Severe vaginal bleeding

<h4>Conditions for which you could call the Health Center for an appointment:</h4>

Fever which goes down with Tylenol or aspirin
Sore throat, colds, cough, earache
Minor cuts or burns
Skin rash
Mild nausea with vomiting or diarrhea without fever
Mild burning or irritation on urination
Chronic joint or muscle pain/strain
Non life threatening conditions
