<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col body-diagram-block mdl-shadow--2dp plain-background">
  
    <div class="card-header-color mdl-color-text--grey-600 mdl-shadow--2dp mdl-card__title">
      <i class="material-icons" style="margin-right:5px">home</i>      
      <h4>Emergency Level</h4>
    </div>
    
    <div class="mdl-card__supporting-text"> 
      <p>Q: Should I go to the Brandeis Health Center or to the Hospital?</p>
    </div>

  </div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col body-diagram-block mdl-shadow--2dp plain-background">
    <div class="card-header-color mdl-color-text--grey-600 mdl-shadow--2dp mdl-card__title">
      <h4>Reasons to go to the Emergency Room:</h4>
    </div>

    <div class="mdl-card__supporting-text">
      <p>Injuries or ailments listed here are considered to be life threatening and are considered to be severe enough to warrent a visit to the hospital.</p>
      <ul>
        <li>Sexual violence</li>
        <li>Severe shortness of breath</li>
        <li>Loss of consciousness/change in consciousness/seizure</li>
        <li>Sudden, severe pain (abdominal, chest, head) which is not relieved with over the counter medication.</li>
        <li>A major injury</li>
        <li>Bleeding that does not stop after 10 minutes of direct pressure, or a deep cut which may need stitches in order to stop the bleeding.</li>
        <li>Poisoning or overdose</li>
        <li>Severe or worsening allergic reaction, especially if breathing is difficult</li>
        <li>Severe or persistent vomiting</li>
        <li>Suicidal or homicidal feelings</li>
        <li>Severe vaginal bleeding</li>
      </ul>
    </div>
  </div>
  
  <div class="mdl-cell mdl-cell--6-col body-diagram-block mdl-shadow--2dp plain-background">
    <div class="card-header-color mdl-color-text--grey-600 mdl-shadow--2dp mdl-card__title">
      <h4>Reasons to call the Health Center for an appointment:</h4>
    </div>
    
    <div class="mdl-card__supporting-text">
      <p>Make an appointment with the Brandeis Health Center to receive treatment for the following types of ailments:</p>
      <ul>
        <li>Fever which goes down with Tylenol or aspirin</li>
        <li>Sore throat, colds, cough, earache</li>
        <li>Minor cuts or burns</li>
        <li>Skin rash</li>
        <li>Mild nausea with vomiting or diarrhea without fever</li>
        <li>Mild burning or irritation on urination</li>
        <li>Chronic joint or muscle pain/strain</li>
        <li>Non life threatening conditions</li>
      </ul>
    </div>
  </div>
</div>
