<h1>This diagnosis tool is for non-emergency services only.</h1>

<h2>In the event of an emergency:</h2>

<p>Off campus: Call 911</p>
<p>On campus: Call public safety at 1-781-736-3333</p>

<%= link_to "I am not having an emergency", body_diagram_path, class: "btn btn-success" %>
