<h4>Resources</h4>
  <div class="col-sm-4 sidenav">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#section1">Timeline</a></li>
      <li><a href="#section2">Symptoms</a></li>
      <li><a href="#section3">Reminders</a></li>
      <li><a href="#section3">Create New Log</a></li>
    </ul><br>
  </div>