
<center><h1>Log in</h1></center>

<!-- <div class="row"> -->

    <center><%= form_for(:session, url: login_path) do |f| %>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" name="session[email]" id="session_email">
        <label class="mdl-textfield__label" for="session_email">Email</label>
      </div><br/>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="session[password]" id="session_password" type="password" >
        <label class="mdl-textfield__label" for="session_password">Password</label>
      </div><br/>

      <center><input type="submit" name="commit" value="Log in" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary" data-disable-with="Log in"></center>
    <% end %></center>
    <center><p>New user? <%= link_to "Sign up now!", signup_path %></p></center>

<!-- </div> -->
