<div class="demo-card-wide mdl-card mdl-shadow--2dp" id="welcome-card">
  <div class="mdl-card__title" id="welcome-card-title">
    <h2 class="mdl-card__title-text">Welcome</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>These days, everyone could use help managing their healthcare from time to time. With the Healthcare Decoder, staying healthy and knowing the options available to you no longer feels like fumbling around in the dark. Look up possible diagnoses for your particular ailments, keep track of symptoms and visits for easy reference, access a network of healthcare resources and events in your area, or get an estimate of what medical services will cost you through your insurance! The Healthcare Decoder makes it easy to find the right options for your individual health needs.</p>
  </div>
</div>
