<div class="row">
  <div class = "class profile">
    <div >
      <section class="large-title" >
	         <h1>Health Decoder</h1>
      </section>
    </div>

    <div class="col-lg-12">
      <% if logged_in? %>
    	<br />
    	<br />

        <div id="welcome-buttons">
          <%= button_to "Log out", logout_path, method: :delete, class: " mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>

      <% else %>
        <div class="alert alert-danger">
	  Please <strong>sign in </strong>to view more.
	</div>
	<div id="welcome-buttons">
	  <%= button_to "Sign in", login_path, :method => "get", class: " mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
	  <p class="text-primary">New user? <%= link_to "Sign up now!", signup_path %></p>
      <% end %>
      <%= button_to "Quick Diagnosis", body_diagram_path, :method => "get", class: " mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
    </div>
  </div>
</div>
