<div class="row">
  <div class = "class profile">
    <div class="jumbotron">
      <center>
	<h1>Health Decoder</h1>
        </br>
      </center>
    </div>

    <div class="col-lg-12">
      <div class="alert alert-danger">Please <strong>sign in </strong>to view more options.</div>
      <div id="welcome-buttons">
        <%= link_to "Sign in", login_path, class: "btn btn-primary btn-block" %>
        <p class="text-primary">New user? <%= link_to "Sign up now!", signup_path %></p>
        <%= link_to "Quick Diagnosis", body_diagram_path, class: "btn btn-danger btn-block" %>
      </div>
    </div>
  </div>
</div>
<hr>
