<%= button_to fetch_ailment_path(:what => "ailment", :id => @body_part.id, :symptom_id => @symptom.id, :ailment_id => disease.id), :remote => true, class: "mdl-chip" do %>
  <span class="mdl-chip__text"><%= disease.name.capitalize %></span>
<% end %>
