
.simple-calendar {
.day {}

.wday-0 {}
.wday-1 {}
.wday-2 {}
.wday-3 {}
.wday-4 {}
.wday-5 {}
.wday-6 {}

.today {}
.past {}
.future {}

.start-date {}

.prev-month {}
.next-month { }
.current-month {}

.has-events {}
}
.calendar-title {
  font-size: 150%;
  text-align: center;
  border: 3px solid grey;
 }
