$light-tan: #F5F5F5;

#body-image {
    height: 333px;
    width: 116px;
}

#diagram_results {
    visibility: visible;
}

#body-image-switches {
    display: block;
    clear: both;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 116px;
}

.malebg {
    background-image: url("male.png");    
}

.femalebg {
    background-image: url("female.png");    
}

.card-header-color {
    background-color: $light-tan;    
}

.style-image {
    max-width: 100%;
}

.body-background {
    background-image: url("diagram-placeholder.png");
    background-repeat: no-repeat;
}

.body-background-offset-right {
    background-image: url("diagram-placeholder.png");
    background-repeat: no-repeat;
    background-position: 86% 0%;
}

.plain-background {
    background-image: url("diagram-background.png");
}
