@import "bootstrap";

#welcome-buttons {
    text-align: center;
    margin: 0 auto;
    width: 400px;
}

.large-title {
    min-width: 470px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#yields {
  padding-top: 70px;
}

body {
    font-family: 'Roboto', verdana, arial, helvetica, sans-serif;
    background-image: url("white_plaster.png");

}

#name {
  position: relative;
  left :15px;
  font-weight: bold;
}

#edit {
    position: relative;
    left: 5px;
    top: 4px;
}

$white: #FFF;

.custom-font-icon {
    margin: 0 10px;
    vertical-align: middle;
}

.custom-font-icon-left {
    margin-right: 10px;
    vertical-align: middle;
}

#health-title {
    font-size: 28px;
    font-weight: 100;
    font-style: normal;
}

.white-bg {
    background-color: $white;
}

.mdl-mini-footer__link-list {
	li a, a:visited {
		color: #9e9e9e !important;
	}
	li a:hover {
	    color: #f8f9fa !important;
	}
}

#symptom_log {
  a, a:visited {
      color: #5f7c8b ;
  }

}

.tabcontent {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  display: none;
  padding: 10px 10px;  
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
