@import "bootstrap";

#welcome-buttons {
    text-align: center;
    margin: 0 auto;
    width: 400px;
}
.large-title {
	min-width: 470px;
	width: 100%;
  text-align: center;
  font-weight: bold;
	}

//  body {
//    background-image: url("http://www.brandeis.edu/health/images/iStock_000031149720Small-edited.jpg");
//    background-repeat: no-repeat;
//    background-size: cover;
//  }
