@import "bootstrap";

#welcome-buttons {
    text-align: center;
    margin: 0 auto;
    width: 400px;
}

.large-title {
    min-width: 470px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
#yields {
  padding-top: 70px;
}
body {
  background-image: url("white_plaster.png");
}


$white: #FFF;

.custom-font-icon {
    margin: 0 10px;
    vertical-align: middle;
}

#health-title {
    font-size: 1.7em;
}
