$light-blue: aliceblue;
$log-header: lightblue;
$light-tan: #F5F5F5;

.alert-notice {
    background-color: #DFF0d8;
    border-color: #d6e9c6;
    border: 1px solid;
    color: #3C763D;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 4px;
}

.visit_time {
    margin-bottom: 0px !important;
}

#log-history-switch {
    background-color: $light-tan;
}

#slide-rule {
    font-size: 16px;
    .mdl-slider__background-flex {
	margin: 0px auto;
	width: 100%;
    }
}

#symptom-dropdown {
    li {
	font-size: 12px;
	padding: 12px;
    }
}

.no-margin-top-bottom {
    margin-top: 0px;
    margin-bottom: 0px;
}

#log-submit-container {
    background-color: $light-blue;

    .new_log {
	display: inline;
    }

    h3 {
	color: $log-header;
	margin: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid $log-header;
    }

    .log-controls {
	height: 60px;
	width: 33%;
	margin: 10px;
	display: inline-block;
	float: left;
	margin: 10px 0;

	#symptom-control-label {
	    display: block;
	}

	#slide-container {
	    text-align: center;
	}

	#severity-label {
	    display: block;
	    text-align: center;
	}

	#score {
	    color: red;
	    font-size: 15pt;
	    line-height: 14px;
	}

	#severity-range {
	    width: 100%;
	    display: inline-block;
	    padding-top: 5px;
	}

	/* Log symptom form submit button */

	.btn {
	    display: block;
	    margin: 0 auto;
	}

	#btn-invisible-label {
	    color: aliceblue;
	}
    }
}

/* Calendar overrides for logs page */
.calendar-heading {
    background-color: $light-tan;
    color: rgba(0,0,0,.54);

    .calendar-title {
	color: rgba(0,0,0,.54);
    }

    a {
	color: #FFF;

	&:hover {
	    color: #5f7c8b;
	}
    }
}

.simple-calendar .today {
    background: $light-blue !important;
}

.for-log-dropdown-override {
    position: relative;
}

/* Styles for the Symptom/Visits Log Card */
#log-history-container {
    #log-history-menu {
	background-color: $light-tan;
	color: rgba(0,0,0,.54);
    }

    #log-history-table {
	.mdl-data-table {
	    width: 100%;

	    thead {
		display: block;

		tr {
		    display:table;
		    width: 100%;
		}

		th {
		    width: 25%;
		}
	    }

	    tbody {
		display: block;
		max-height: 415px;
		overflow: auto;

		tr {
		    width: 100%;
		}

		td {
		    text-align: center;
		    width: 25%;
		}
	    }
	}

	.printer-friendly-table {
	    display: none;
	}
    }
}


/** OUTDATED, WE CAN REMOVE THESE: */
 /* Style the tab */
div.tab {
    overflow: hidden;
    background-color: #ffffff;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    width: 32.3vw;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #99ccff;
}

/* Create an active/current tablink class */
div.tab button.active {
    color: white;

    background-color: #548abe;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 10px 10px;
    background-color: aliceblue;
}

.tabcontent {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
