<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th>Symptom</th>
      <th>Severity</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @results.order(:created_at).each do |log| %>
      <%= render @logs %>
    <% end %>
  </tbody>
</table>
