<tr>
  <td><%= link_to Symptom.find(log.symptom_id).name.capitalize, edit_log_path(log) %></td>
  <td><%= log.severity %></td>
  <td><%= log.created_at.to_date %></td>
  <td>
    <%= button_to log, method: :delete, class:"mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" do %>
      <i class="material-icons">close</i>
    <% end %>
  </td>
</tr>
