<%= image_tag "sneeze.png", class: "custom-font-icon-left", height: '30px' %>

<h4>Log History</h4>

<div class="mdl-layout-spacer"></div>

<!-- Search button -->
<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
  <label class="mdl-button mdl-js-button mdl-button--icon" for="search_symptoms">
    <i class="material-icons">search</i>
  </label>

  <div class="mdl-textfield__expandable-holder">
    <input class="mdl-textfield__input" type="text" id="search_symptoms" onkeypress="executeSymptomSearch()">
    <label class="mdl-textfield__label" for="search">Enter your query...</label>
  </div>
</div>  

<!-- Printer button -->
<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
  <i class="material-icons" onclick="printData()">printer</i>
  <span class="mdl-button__ripple-container" onclick="printSymptomsData()">
    <span class="mdl-ripple is-animating" style="width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(13px, 17px);"></span>
  </span>
</button>

<!-- Button to add a new log entry -->
<button id="symptom_menu" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--accent tablinks" onclick="toggleLog('newLog')">
  <i class="material-icons mdl-color-text--white" role="presentation">add</i>
</button>
