<table class = "table table-striped">
  <thead>
    <tr>
      <th>Symptom</th>
      <th>Severity</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @results.each do |log| %>

      <tr>
        <td><%= link_to Symptom.find(log.symptom_id).name, edit_log_path(log) %></td>
        <td><%= log.severity %></td>
        <td><%= log.created_at %></td>
        <td>
          <%= link_to image_tag('cross.png', size: 10), log, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
