<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @visits %>
  </tbody>
</table>
