<div class="visits" style="background-color: #e6fff2" style="display:none">
  <h3>Visits</h3>
  <%= render "visit_table" %>
  <button class="btn btn-outline-info" onclick="newEntry(event, 'newVisit')" id="defaultOpen">
    <strong>New Visit</strong>
  </button>
  <div id="newVisit" class="tabcontent">
    <%= render "visits_add" %>
  </div>  
</div>

<script>
  $(document).ready(function(){
    document.getElementById("defaultOpen").click();
  })
</script>
