<h3 class="justified" id="out-pocket-pay"><strong>Out Of Pocket Pay: </strong> $<%=session[:answer]%>0</h3>
<%if !session[:note].nil?%>
    <p class="justified" id="notes"><strong >Note: </strong> <%=session[:note]%></p>
<%end%>
