<div class="row">
  <div class="col-md-4 body-diagram-block">
    <h1>Body Diagram</h1>

    <p><%= link_to "display symptoms test", do_display_symptoms_path, remote: true, method: :post %></p>

    <p>Click on a body part to see a list of symptoms.</p>

    <div class="row">
      <div class="col-md-6">
	<div id="body-image"></div>
	<div id="body-image-switches">
	  <span id="btn_m" class="btn_base">&#9794;</span>
	  <span id="btn_f" class="btn_base">&#9792;</span>
	</div>
      </div>
      <div class="col-md-6">
	<div class="body-labels">
	  <% @body_parts.each do |body_part| %>
	  <p><%= link_to body_part.name.capitalize, body_part %></p>
	  <% end %>
	</div>
      </div>
    </div>
  </div>
  
  <div class="col-md-8" id="diagram_results">
    <%= render 'body_parts/test' %>
  </div>
  
</div>
