<p id="notice"><%= notice %></p>

<h1><%= @body_part.name %></h1>

<p>What are your symptoms?</p>

<ul>
  <% @symptoms.each do |symptom| %>
    <li><% symptom.name %></li>
  <% end %>
</ul>

<%= link_to 'Go back', body_parts_path %>
